*{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}
.textbox{
    margin-top: 200px;
    margin-left: 150px;
}
h1{
    font-size: 55px;
    color: #1877F2;
    font-family: sans-serif;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.container{
    width: 400px;
    height: 350px;
    margin-top: -194px;
    margin-left: 160px; 
    float: right;
    border-radius: 12 px;
    background-color: white;
    width: 390px;
    height: 355px;
    text-align: center;

}
.form{
   float: right;
   margin-top: -12px;
   background-color: white;
   padding: 20px;
} 
.form input{
    margin-top: 10px;
    border-radius: 8px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 17px;
    width: 332px;

}
button{
    margin-top: 15px;
    background-color: #1877F2;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
p{
    background-color: white;
    font-size: 16px;
    color: #1877F2;
    margin-top: 10px;
}
p a{
    color: #1877F2;
    background-color: white;
}
.btn{
    padding: 7px;
    margin-top: 15px;
    background-color: white;
    margin-left: 60px; 
    margin-right: 60px;
}
.btn button{
    background-color: #1b9c24;
}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color:#777;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1 ;
    margin-bottom: 20px ;
}